body {
    background: url(gamethaydo/images/dress-room.jpg) no-repeat;
    background-position: 50% 53%;
    background-size: cover;
}
.dress-main .row {height: 100vh;}
.girl img {position: absolute;}
.girl .girl-main {
    bottom: 2%;
    left: 30%;
    z-index: -1;
}
.girl .clothing-main {
    top: 30%;
    left: 31.5%;
    z-index: 1;
}
.clothing-box {
    background: url(gamethaydo/images/box.png) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 700px;
    height: 792px;
}
.clothing-flex {margin: 0 80px;}
.clothing-item {
    background: url(gamethaydo/images/menu.png) no-repeat;
    width: 100px;
    height: 99px;
    cursor: pointer;
}
.clothing-item img {width: 45%;}