body {
    background: url(gamethaydo/images/dress-room.jpg) no-repeat;
    background-position: 50% 53%;
    background-size: cover;
}
.dress-main .row {height: 100vh;}
.girl img {position: absolute;}
.girl .girl-main {
    bottom: 2%;
    left: 30%;
    z-index: -1;
}
.girl .clothing-main {z-index: 1;}
.clothing-box {
    background: url(gamethaydo/images/box.png) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 700px;
    height: 792px;
}
.clothing-flex {margin: 0 80px;}
.clothing-item {
    background: url(gamethaydo/images/menu.png) no-repeat;
    width: 100px;
    height: 99px;
    cursor: pointer;
}
.clothing-item img {width: 45%;}
#Clothing1 {
    top: 30%;
    left: 31.5%;
}
#Clothing2 {
    top: 25%;
    left: 31%;
}
#Clothing3 {
    top: 24.5%;
    left: 31.5%;
}
#Clothing4 {
    top: 24.9%;
    left: 32.5%;
}
#Clothing5 {
    top: 30%;
    left: 35.3%;
}
#Clothing6 {
    top: 24.6%;
    left: 35.6%;
}
#Clothing7 {
    top: 24.6%;
    left: 31.5%;
}
#Clothing8 {
    top: 31%;
    left: 34.5%;
}
#Clothing9 {
    top: 30.6%;
    left: 30.4%;
}
#Clothing10 {
    top: 24.6%;
    left: 31.5%;
}